{% extends "base.html" %}
{% block content %}

<h1><strong>Search Page</strong></h1>
<div class="list-group">
    <a href="http://localhost:5000/search/patient" class="list-group-item">1. Patient</a>
    <a href="http://localhost:5000/search/staff" class="list-group-item">2. Staff</a>
    <a href="http://localhost:5000/search/visit" class="list-group-item">3. Visits</a>
    <a href="http://localhost:5000/search/payment" class="list-group-item">4. Payment</a>
    <a href="http://localhost:5000" class="list-group-item">Home</a>
</div>

{% endblock content %}