{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2><strong>Enter Staff Data</strong></h2>


<form action="http://localhost:5000/search/staff/state" method="POST">
        <h2>By State</h2>
    <table width="900px">
    <tr>
        <th align="left">
            State Name
        </th>
        <td valign="top">
            <input type="text" name="state" placeholder="Enter State Name">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center">
            <input type="submit" value="submit">
        </td>
    </tr>
    </table>
    </form>

    </div>

<div class="list-group">
<a href="http://localhost:5000" class="list-group-item">Home</a>
</div>

{% endblock content %}