{% extends "base.html" %}
{% block content %}

<h1>Nursing Home</h1>

<div class = "list-group">
    <a href="http://localhost:5000/display" class="list-group-item">Display Data</a>
    <a href="http://localhost:5000/visit" class="list-group-item">Edit Visit Data</a>
    <a href="http://localhost:5000/search" class="list-group-item">Search</a>
    <a href="http://localhost:5000/insert" class="list-group-item">Insert</a>
    <a href="http://localhost:5000/delete" class="list-group-item">Delete</a>
    <a href="http://localhost:5000/update" class="list-group-item">Update</a>
</div>
{% endblock content %}