{% extends "base.html" %}
{% block content %}

<h1><strong>Insert Page</strong></h1>
<div class="list-group">
    <a href="http://localhost:5000/insert/patient" class="list-group-item">1. Patient</a>
    <a href="http://localhost:5000/insert/staff" class="list-group-item">2. Staff</a>
    <a href="http://localhost:5000/insert/visit" class="list-group-item">3. Visits</a>
    <a href="http://localhost:5000/insert/test" class="list-group-item">4. Tests</a>
    <a href="http://localhost:5000/insert/payment" class="list-group-item">5. Payment</a>
    <a href="http://localhost:5000" class="list-group-item">Home</a>
</div>
{% endblock content %}